@font-face {
  font-family: "LeagueSpartan";
  src: local('LeagueSpartan'), url("./fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "LibreBaskerville";
  src: local('LibreBaskerville'), url("./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #84AC9C !important;
}

.MuiFilledInput-root {
  border-bottom: 1px solid #84AC8C !important;
}

.MuiInput-root {
  border-bottom: 1px solid #84AC8C !important;
}

.MuiInputLabel-root{
  color: #2C382D !important;
}

.posts{
  white-space: pre-wrap;
}

.addButton{
  margin-left: 85%;
}

h1 {
  font-family: "LibreBaskerville";
  text-decoration: underline;
  color: #1E221F;
  font-size: 3rem;
  font-style: underline;
}

body {
  font-family: "LibreBaskerville";
  color: #1E221F;
  padding: 1rem;
}

button {
  font-family: "LibreBaskerville";
  background-color: #FBFBED;
  color: #92978C;
  font-size: 18px;
  padding: .5rem;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #84AC8C;
  color: #FBFBED;
}

.button {
  font-family: "LibreBaskerville";
  background-color: #FBFBED;
  color: #848483;
  font-size: 18px;
  padding: .5rem;
}

.button:hover {
  background-color: #84AC8C;
  color: #FBFBED;
  z-index: 1;
}

a { 
  color: #1E221F;
  font-size: 18px;
}
a:visited { 
  color: #1E221F;
  font-size: 18px;
}
a:hover {
  box-shadow: inset 1000px 0 0 0 #84AC8C;
  color:#333;
  opacity: 1;
  background-color: #FBFBED;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FBFBED;
  color: #2C382D;
  position: flex; /* Position relative for absolute positioning of menu */
}

.logo-container {
  flex-grow: 1; /* Allow the logo to take up remaining space */
}

.logo {
  max-width: 100px;
}

.hamburger {
  display: block; /* hamburger button placement */
  cursor: pointer;
  background: none;
  border: none;
  right: 0;
}

.bar {
  display: flex;
  width: 25px;
  height: 3px;
  background-color: #2C382D;
  margin: 6px 0;
}

/* Navigation links */
.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 60px; /* Adjust this value based on your design */
  right: 0;
  width: 100%;
  background-color: #FBFBED;
  flex-direction: column; /* Stack links vertically */
  display: none; /* Initially hide the links */
  z-index: 2;
}

.nav-links.expanded {
  display: flex; /* Display links when the menu is expanded */
  color: #2C382D;
}

.background-container {
  object-fit: contain;
  flex-direction: row;
  overflow: hidden;
  opacity: 0.4;
  height: 100px;
}

.nav-links a {
  text-decoration: underline;
  color: #2C382D;
  margin: 10px;
  margin-right: 100px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  font-family: 'LibreBaskerville', serif;
  font-size: 18px;
  text-align: right;
}
.nav-links a:hover {
  box-shadow: inset -100px 0 0 0 #84AC8C;
  color:#333;
  opacity: 1;
  background-color: #FBFBED;
}
.close {
  position: absolute;
  right: 0;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #FBFBED;
  }

  .nav-links.expanded {
    display: flex; /* Display links when the menu is expanded */
  }

  .nav-links a {
    margin: 10px;
  }
}

  